:root {
  --main-color: #ffc0cb;
  --main-border: 5px solid black;
  --secondary-border: 2px solid black;
}

.head {
  --head-size: 200px;
  position: relative;
  width: var(--head-size);
  height: var(--head-size);
  border-radius: 50%;
  background-color: var(--main-color);
  border: var(--main-border);
  margin-top: 30px;
}

.ear {
  --ear-size: 50px;
  --ear-X-offset: 10px;
  position: absolute;
  width: var(--ear-size);
  height: var(--ear-size);
  border-radius: 50%;
  background-color: var(--main-color);
  border: var(--main-border);
  top: -10px;
  z-index: -1;
}

.ear:first-child {
  left: var(--ear-X-offset);
}

.ear:nth-child(2) {
  right: var(--ear-X-offset);
}

.eye {
  --eye-size: 50px;
  --eye-X-offset: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--eye-size);
  height: var(--eye-size);
  border-radius: 50%;
  background-color: white;
  border: var(--secondary-border);
  top: 40px;
}

.eye:first-child {
  left: var(--eye-X-offset);
}

.eye:nth-child(2) {
  right: var(--eye-X-offset);
}

.pupil {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
}

.nose {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 60px;
  background-color: #f57187;
  border-radius: 35%;
  border: var(--secondary-border);
  bottom: 30px;
  transform: translateX(50%);
}

.nostril {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
}
